.select__box:hover{
  border-color: #fff;
}

.schedule__lecturer:hover, 
.schedule__materials:hover,
.selects__item:hover {
	-webkit-box-shadow: 0 5px 4px rgba(0,0,0,0.25), 0 4px 6px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 5px 4px rgba(0,0,0,0.25), 0 4px 6px rgba(0,0,0,0.22);
	box-shadow: 0 5px 4px rgba(0,0,0,0.25), 0 4px 6px rgba(0,0,0,0.22);
}

.schedule__materials__notavail:hover {
	box-shadow: none;
}