.header {
	background-color: red;
	text-align: center;
	padding: 15px 0px;
}

.header__text {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2.6rem;
}

@media only screen and (max-width : 860px) {
	.header {
		padding: 10px 0px;
	}

	.header__text {
		font-size: 1.4rem;
	}
}